version: '3.8'

services:
  service-registry:
    image: service-registry
    container_name: service-registry
    ports:
      - "8761:8761"
    networks:
      - microservices-net
  order-service:
    image: order-service
    container_name: order-service
    ports:
      - "8083:8083"
    depends_on:
      - service-registry
      - mysql-db     # only if you're using MySQL in the compose
    networks:
      - microservices-net
  mysql-db:
    image: mysql:8
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: Tushar@123
      MYSQL_DATABASE: pharmacy_db
    ports:
      - "3307:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - microservices-net
  user-service:
    image: user-service
    container_name: user-service
    ports:
      - "8081:8081"
    depends_on:
      - mysql-db
      - service-registry
    networks:
      - microservices-net

  inventory-service:
    image: inventory-service
    container_name: inventory-service
    ports:
      - "8086:8086"
    depends_on:
      - mysql-db
      - service-registry
    networks:
      - microservices-net
  cart-service:
    image: cart-service
    container_name: cart-service
    ports:
      - "8084:8084"
    depends_on:
      - service-registry
    networks:
      - microservices-net
  payment-service:
    image: payment-service
    container_name: payment-service
    ports:
      - "8082:8082"
    depends_on:
      - mysql-db
      - service-registry
    networks:
      - microservices-net

  supplier-service:
    image: supplier-service
    container_name: supplier-service
    ports:
      - "8085:8085"
    depends_on:
      - mysql-db
      - service-registry
    networks:
      - microservices-net
  api-gateway:
    image: api-gateway
    container_name: api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - service-registry
    networks:
      - microservices-net



networks:
  microservices-net:

volumes:
  mysql-data:
